:root {
    /* Settings */
    --font-family-headings:'RocknRoll One', sans-serif;
    --font-family-body: 'Roboto', sans-serif;
    --spacing: 15px;
    --heading-font-size: 2.5vw;
    --body-font-size: 1.5vw;
    --min-body-font-size: 10px;
    --font-size: 1.15rem;
    /* Normal Colors */
    --background-color:#B4AAA1;
    /*EDF5FC*/
    --alt-background-color: #00a1b6;
    --primary-color: #B0FF92;
    /*8DDBE0*/
    --alt-primary-color: #9AB63E;
    --border-color: black;
    --alt-font-color:black;
    /* Dark Mode Colors */
    --dark-background-color: #264040;
    --dark-alt-background-color: #154B7A;
    --dark-primary-color: #EDF5FC;
    --dark-alt-primary-color: #DBFE87;
    --dark-border-color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    font-size: var(--font-size);
    padding: var(--spacing);
    border-bottom: 1px solid var(--border-color);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

header a {
    color: var(--alt-font-color);
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

main {
    flex: 1;
    font-size: var(--font-size);
    padding: var(--spacing);
    color: var(--font-color);
    background: rgb(0,182,39);
background: linear-gradient(0deg, rgba(0,182,39,1) 0%, rgba(180,170,161,1) 100%);
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    font-size: var(--font-size);
    border-top: 1px solid var(--border-color);
    padding: var(--spacing);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

footer a {
    color: var(--alt-font-color);
}

footer #legal {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
}

footer nav {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-left: auto;
}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

/*MY CHANGES*/
main {
    padding: 0;
}
.img75 {
    min-width: 400px;
    width: 100%;
    height: auto;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
.gridimgleft {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 20px;
    line-height: 0;
    
}

.gridimgright {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 0;
    
}
@media screen and (min-width:1200px) {
	#mid-hp-content{ margin-left: 200px; margin-right: 200px; }
}

.gridcardleft {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    line-height: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
}

.gridcardright {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    line-height: 0;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 25px;
}
.card {
    background-color: var(--primary-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border: 3px solid black;
}
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.75);
}

.cardfontheader {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}
.cardfontcontent {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.bio {
    background-color: var(--primary-color);
    border: 3px solid black;
}

h1 {
    line-height: normal;
    text-align: center;
    padding-top: 20px;
    font-size: var(--heading-font-size);
    font-family:var(--font-family-headings);
}
h2 {
    line-height: normal;
    text-align: center;
    padding-top: 20px;
    font-size: var(--heading-font-size);
    font-family:var(--font-family-headings);
}
h3 {
    line-height: normal;
    text-align: center;
    padding-top: 20px;
    font-size: var(--heading-font-size);
    font-family:var(--font-family-headings);
}
h4 {
    line-height: normal;
    text-align: center;
    padding-top: 20px;
    font-size: var(--heading-font-size);
    font-family:var(--font-family-headings);
}
p {
   line-height: normal; 
   text-align:center;
   padding: 0;
   padding-top: 10px;
   font-family: var(--font-family-body);
}
p{ font-size:calc(12px + .8vw); }

@media screen and (min-width:1600px) {
	p{ font-size: 26px; }
}
.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1;
    margin-left: auto;
    width: 100%;
    vertical-align: bottom;
    
    
}
.col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 2;
    margin-right: auto;
    width: 100%;
    
}


.container {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -20px;
}
/*}
.fit {
    object-fit: cover;
}*/

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 75%;
  transform: translate(-50%, -50%);
  background-color: rgba(176, 255, 146, .5);
  color: black;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width:1000px) {
	.text-box{ height: 100%; width: 350px;}
    .gridcardleft {
        margin-left: 0;
        margin-right: 0;
    }
    
    .gridcardright {
        margin-left: 0;
        margin-right: 0;
    }
}

.box {
    border: 3px solid black;
    background-color: var(--primary-color);
}

.grow:hover {
    animation-name: grow;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    z-index: 1;
}

@keyframes grow {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/*CONTACT US PAGE*/

.top-form {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    grid-gap: 10px;
}
.about-us-border {
    padding-left: 20%;
    padding-right: 20%;
}

.msglabel {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
}

#message {
    width: 100%;
    height: 200px;
}
#contact-form-submit {
    margin-top: 10px;
    width: 100%;
    height: 60px;
    margin-bottom: 50px;
}

#contact-form-submit {
    background-color: var(--alt-background-color);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border: 3px solid black;
    font-family: var(--font-family-headings);
    font-size: 30px;
}
#contact-form-submit:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.75);
    background-color: var(--alt-primary-color);
}

label {
    line-height: normal;
    font-size: calc(var(--heading-font-size)/1.5);
    font-family:var(--font-family-headings)
}

@media screen and (max-width:1000px) {
    .about-us-border {
    padding-left: 10%;
    padding-right: 10%;
    }
    label {
        font-size: var(--heading-font-size);
    }
}

/*PHOTO GALLERY START*/

#imgwindow {
    display: flex;
    background-color: black;
    padding-right: 10%;
    padding-left: 10%;
    
}

/* Position the image container (needed to position the left and right arrows) */
.gallery {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
  }

  @media screen and (max-width:1200px) {
    .gallery {
    padding-left: 10%;
    padding-right: 10%;
    }
}

  
  /* Hide the images by default */
  .slides {
    display: none;
    width: 100%;
    height: auto;
    max-height: 500px;
  }

  .slides img {
      height: auto;
      width: auto;
      max-height: 500px;
  }

  .slidecenter {
      justify-content: center;
  }

  .slideone {
      display: flex;
      justify-content: center;
  }

  .gallery-options {
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 50px;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 8.333%;
    height: auto;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 1;
  }
  
  .active,
  .demo:hover {
    opacity: 0.6;
  }


/*END OF MY CHANGES*/
footer #dark-mode {
    grid-row: 1;
    grid-column: 3;
}

footer #dark-mode .icon {
    position: relative;
    display: inline-block;
    z-index: 100;
    pointer-events: none;
}

footer #dark-mode .icon svg path {
    fill: var(--background-color);
}

footer #dark-mode #sun-icon svg {
    transform: scale(0.9);
    position: absolute;
    top: -32px;
    left: 15px;
}

footer #dark-mode #moon-icon svg {
    transform: scale(0.85);
    position: absolute;
    top: -32px;
    right: 15px;
}

footer #dark-mode #tgl-wrapper {
    display: inline-block;
}

footer #dark-mode #tgl-wrapper .tgl {
    display: none;
}

footer #dark-mode #tgl-wrapper .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}

footer #dark-mode #tgl-wrapper .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 3px;
    transition: all 0.4s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    left: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:before {
    display: none;
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl:checked + .tgl-btn:after {
    left: 50%;
    transition: all 0.2s ease;
}

/*===========================================*\
  APPLY DARK MODE COLORS WHEN DARK MODE IS ON 
\*===========================================*/

body.dark-mode header {
    border-bottom: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode header a {
    color: var(--dark-alt-font-color);
}

body.dark-mode main {
    color: var(--dark-font-color);
    background-color: var(--dark-background-color);
}

body.dark-mode footer {
    border-top: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode footer a {
    color: var(--dark-alt-font-color);
}

body.dark-mode footer #dark-mode .icon svg path {
    fill: var(--dark-background-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    background-color: var(--dark-background-color);
    border: 1px solid var(--dark-border-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    background-color: var(--dark-border-color);
}